body {
    background-color: #FFE3DC;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3A2D32;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3A2D32;
    text-align: left;
    font-size: 35px;
}
div#nav {
    text-align: center;  
}
li {
    display: inline;
    margin-right: 60px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
p {
    color: #3A2D32;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.center {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px; 
    font-size: 18px;   
}
img.VA {
    float: left;
    border-radius: 10%;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px; 
}
img.PGH {
    float: left;
    border-radius: 10%;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 10px; 
}
div#poster {
    padding-top: 80px;
}
div#graphic {
    padding-top: 190px;
}
img.normandy {
    float: left;
    border-radius: 10%;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 10px; 
    padding-bottom: 20px;
}